body {
  font-family: 'Montserrat', sans-serif;
  padding: 2rem;
}

h2 {
  text-align: center;
  font-weight: 300;
}

svg {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

#header {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header img {
  padding-right: 0.5rem;
}

#button-group {
  display: flex;
  justify-content: center;
}

#button-group button {
  font-family: 'Montserrat', sans-serif;
  width: 100px
}

#button-group #sort-ascending {
  margin-right: 1rem;
}
